'.source.css':
	'css box rules':
		'prefix':'css-box'
		'body':"""
margin-top: 0;
margin-bottom: 0;
margin-right: 0;
margin-left: 0;

padding-top: 0;
padding-bottom: 0;
padding-right: 0;
padding-left: 0;

border: 1px solid #000;
border-radius: 16px;
	"""