'.source.css':
	'css type rules':
		'prefix':'type'
		'body':"""
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 38px;
font-weight: normal;
line-height: 1.25;
letter-spacing: 0;
text-align: left;
	"""